$motion-ok: "(prefers-reduced-motion: no-preference)";
$dark: "(prefers-color-scheme: dark)";
$hd-color: "(dynamic-range: high)";

#board {
  width: 950px;
  height: 1300px;
  margin: 40px auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 10px;
  transform-style: preserve-3d;

  --x: initial;
  --y: initial;
  --_max-rotateY: 4deg;
  --_max-rotateX: 4deg;

  transform: rotateY(
      clamp(calc(var(--_max-rotateY) * -1), var(--y), var(--_max-rotateY))
    )
    rotateX(
      clamp(calc(var(--_max-rotateX) * -1), var(--x), var(--_max-rotateX))
    );

  @media #{$motion-ok} {
    will-change: transform;
    transition: transform 0.1s ease;
  }
}
#board .card {
  background-size: contain;
  border-radius: 10px;
  cursor: pointer;
  position: relative;

  --y: initial;
  --x: initial;
  --distance: 1px;
  --theme: hsl(359, 100%, 50%);
  --theme-bg: hsla(0, 100%, 50%, 0.25);
  --theme-bg-hover: hsla(8, 100%, 50%, 0.4);
  --theme-text: white;
  --theme-shadow: hsla(0, 100%, 10%, 0.25);

  --_max-rotateY: 10deg;
  --_max-rotateX: 15deg;
  --_btn-bg: var(--theme-bg);
  --_btn-bg-hover: var(--theme-bg-hover);
  --_btn-text: var(--theme-text);
  --_btn-text-shadow: var(--theme-shadow);
  --_bounce-ease: cubic-bezier(0.5, 1.75, 0.75, 1.25);

  transform-style: preserve-3d;

  transform: rotateY(
      clamp(calc(var(--_max-rotateY) * -1), var(--y), var(--_max-rotateY))
    )
    rotateX(
      clamp(calc(var(--_max-rotateX) * -1), var(--x), var(--_max-rotateX))
    );

  @media #{$motion-ok} {
    will-change: transform;
    transition: transform 0.1s ease;
  }

  @media #{$dark} {
    --theme: hsl(0, 61%, 52%);
    --theme-bg: hsla(0, 53%, 71%, 0.25);
    --theme-bg-hover: hsla(0, 53%, 50%, 0.4);
    --theme-shadow: hsla(0, 53%, 10%, 0.25);
  }

  @media #{$hd-color} {
    @supports (color: color(display-p3 0 0 0)) {
      --theme: color(display-p3 1 0 0);
    }
  }
  background-color: var(--_btn-bg);
  color: var(--_btn-text);
  text-shadow: 0 1px 1px var(--_btn-text-shadow);
  transform: translateZ(var(--distance));
  transform-style: preserve-3d;

  &::after,
  &::before {
    content: "";
    opacity: 0.8;

    position: absolute;
    inset: 0;

    border: 1px solid var(--theme);
    border-radius: 5px 5px;
  }

  &::before {
    border-width: 3px;

    @media #{$dark} {
      box-shadow:
        0 0 25px var(--theme),
        inset 0 0 25px var(--theme);
    }
  }

  &::after {
    transform: translateZ(calc(var(--distance) / 3));
  }

  &::before {
    transform: translateZ(calc(var(--distance) / 3 * -1));
  }

  @media #{$motion-ok} {
    will-change: transform;
    transition:
      transform 0.2s ease,
      background-color 0.5s ease;

    &::before,
    &::after {
      transition: transform 0.1s ease-out;
    }

    &::after {
      transition-duration: 0.5s;
    }
    &::before {
      transition-duration: 0.3s;
    }
  }

  &:is(:hover, :focus-visible):not(:active) {
    --distance: 15px;
    background-color: var(--_btn-bg-hover);

    @media #{$motion-ok} {
      --distance: 3vmax;

      transition-timing-function: var(--_bounce-ease);
      transition-duration: 0.4s;

      &::after {
        transition-duration: 0.5s;
      }
      &::before {
        transition-duration: 0.3s;
      }
    }
  }
}
