@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "memory";
@import "menu";

root {
  --theme-bg: hsl(225 53% 71% 7 25%);
}

$motion-ok: "(prefers-reduced-motion: no-preference)";
$dark: "(prefers-color-scheme: dark)";
$hd-color: "(dynamic-range: high)";


html {
  background: conic-gradient(at -100% 100%, #212529, 50%, #495057, #212529);
}


body {
  perspective: 40vw;
}

