$motion-ok: "(prefers-reduced-motion: no-preference)";
$dark: "(prefers-color-scheme: dark)";
$hd-color: "(dynamic-range: high)";

@import "font";
@import "base";
@import "layout";
@import "modules/example";
@import "modules/memory";
@import "modules/menu";

html {
  background-image:
    url("../assets/paper.jpg"),
    conic-gradient(at -100% 100%, #362121, 100%, #2f2020, #410909);
  background-blend-mode: multiply;
  background-size: cover;
}

body {
  perspective: 40vw;
}
